* {
  box-sizing: border-box;
  font-family: "Montserrat",'Courier New';
  color: #515076;
  margin: 0px;
  padding: 0px;
}

.body {
  padding: 0 85px;
  width: 1280px;
}

.all-elements {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 1110px;
  height: 1191px;
  margin: 0 auto;
  position: relative;
}

.background-dandelions {
  background: url("/images/bg-dandelions-1.png");
  background-repeat: no-repeat;
  width: 790px;
  height: 697px;
  position: absolute;
  top: 0px;
  z-index: -1;
  background-size: contain;
}

.product-selection-title {
  font-family: "Montserrat",'Courier New';
  font-weight: 400;
  font-size: 70px;
  height: 78px;
  margin-top: 220px;
  margin-bottom: 110px;
  text-align: center;
  color: #515076;
}

.product-row {
  gap: 45px;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  display: flex;
  width: 100%;
  height: 1191px;
  z-index: 2;
  position: relative;
}

.card-container {
  display: block;
  width: 340px;
  height: auto;
  box-sizing: border-box;
  justify-content: center;
  padding: 20px;
  background-color: #F7F7FA;
  box-shadow: 2px 2px 10px 0px #5150761A;
}

.product-category {
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: #A5A3B9;
  margin-top: 30px;
  margin-bottom: 15px;
  display: block;
}

.product-name {
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  margin-bottom: 5px;
}

.product-discription {
  margin-bottom: 15px;
  font-size: 13px;
  line-height: 18px;
}

.product-compound {
  margin-top: 5px;
  list-style: circle;
  margin-bottom: 25px;
  width: 86;
  height: 87;
  opacity: 1;
  top: 820px;
}

.product-compound-item {
  margin-left: 14px;
  font-size: 13px;
  line-height: 18px;
}

.product-price-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: auto;
  padding-top: 15px;
}

.product-price-label {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.product-price {
  font-size: 20px;
  line-height: 24px;
  color: #515076;
}